@let(actions = [
    {
        type: 'button',
        icon: 'tabler:copy',
        label: 'Copy as markdown',
    },
    {
        type: 'link',
        href: 'https://chat.openai.com/',
        iconAsComponent: 'components/icons/openai',
        label: 'Open in ChatGPT',
        target: '_blank'
    },
    {
        type: 'link',
        href: 'https://www.cursor.com/',
        iconAsComponent: 'components/icons/cursor',
        label: 'Open in Cursor',
        target: '_blank'
    },
    {
        type: 'link',
        href: 'https://claude.ai/',
        iconAsComponent: 'components/icons/claude',
        label: 'Open in Claude',
        target: '_blank'
    },
    {
        type: 'link',
        href: '/',
        icon: 'mynaui:edit-one',
        label: 'Edit on Github',
        target: '_blank'
    }
])

<div class="relative hidden sm:inline-block z-1" x-data="{ open: false }">
    <button @click="open = !open" class="group relative flex gap-1.5 border border-woodsmoke-800/60 bg-woodsmoke-900/38 backdrop-blur-xl pl-3 py-2 pr-8 rounded-md text-woodsmoke-400 hover:text-woodsmoke-300 transition-colors">
        @svg('mynaui:cog', {class: 'w-5 h-5'})
        <span class="text-13 font-medium">Actions</span>
        <span>
            @svg('mynaui:chevron-down', { class: 'absolute w-5 h-5 text-woodsmoke-400 right-2 transition-transform', 'x-bind:class': "{\'rotate-180\': open}" })
        </span>
    </button>
    <div x-show="open" @click.outside="open=false" class="absolute left-0 border border-woodsmoke-800/60 bg-woodsmoke-950/38 backdrop-blur-md px-4 py-2.5 rounded-md text-13 w-44 mt-0.5">
        @each(action in actions)
            <div class="group">
                @if(action.type === 'button')
                    <button class="py-1.5 rounded-md w-full text-left flex items-center gap-1.5 hover:text-woodsmoke-50 transition-colors">
                        @if(action.icon)
                            @svg(action.icon, { class: 'w-4 h-4' })
                        @else
                            <span class="size-4">
                                @!component(action.iconAsComponent)
                            </span>
                        @end
                        {{ action.label }}
                    </button>

                @elseif(action.type === 'link')
                    @link({
                        href: action.href,
                        class: 'py-1.5 rounded-md w-full text-left flex items-center gap-1.5 text-inherit! hover:text-woodsmoke-50! transition-colors',
                        target: action.target,
                    })
                        @if(action.icon)
                            @svg(action.icon, { class: 'w-4 h-4' })
                        @else
                            <span class="size-4">
                                @!component(action.iconAsComponent)
                            </span>
                        @end
                        {{ action.label }}
                    @end
                @end
            </div>
        @end
    </div>
</div>