<!DOCTYPE html>
<html lang="en-us" class="bg-gray-100 dark:bg-woodsmoke-1000">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ title ? title + ' - AdonisJS' : 'AdonisJS Documentation' }}
    </title>
    @include('partials/seo_tags')
    @include('partials/favicons')
    @vite(['resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="font-sans antialiased tracking-wide text-gray-600 dark:text-woodsmoke-300 relative">
    @include('partials/header')
    <main>
      {{{ await $slots.main() }}}
    </main>
    @include('partials/footer')

    <div class="pointer-events-none absolute inset-0 h-full z-99 mix-blend-overlay overscroll-contain bg-noise bg-size-[64px] opacity-20">
    </div>
  </body>
</html>
