<!DOCTYPE html>
<html lang="en-us" class="bg-woodsmoke-1000">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      AdonisJS - A fully featured web framework for Node.js
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>
  <body class="font-sans antialiased tracking-wide text-woodsmoke-300 relative">
    @include('partials/header')
    <main>
      {{{ await $slots.main() }}}
    </main>

    <div class="pointer-events-none absolute inset-0 h-full z-99 mix-blend-overlay overscroll-contain bg-[url('/resources/assets/noise.png')] bg-size-[64px] opacity-40"></div>
  </body>
</html>
