<div class="relative flex items-center">
    <button type="button" class="text-sm flex gap-2.5 items-center w-full max-w-96 px-4 py-2.5 mx-auto rounded-md bg-woodsmoke-950 text-woodsmoke-400 border border-woodsmoke-800/70">
        @svg('mynaui:search', { width: '20px', height: '20px', class: 'text-woodsmoke-400 hover:text-white transition-colors' })
        
        Search docs
    </button>
</div>