<div class="alert_note border border-indigo-400 dark:border-woodsmoke-800/70">
  <div class="flex items-center gap-1.5 text-indigo-600 dark:text-indigo-400 font-medium dark:font-normal">
    @svg('mynaui:info-circle', { width: '18px', height: '18px' })
    <span class="uppercase text-12">{{ node.properties.title ?? 'Note' }}</span>
  </div>
  <div class="flex-1 mt-3">
    @markdownSlot()
  </div>
</div>
