[data-pf-theme='light'] {
    --pf-text: var(--color-gray-800);
    --pf-text-secondary: var(--color-gray-500);
    --pf-text-muted: var(--color-gray-600);
    --pf-background: var(--color-gray-50);
    --pf-border: color-mix(in srgb, var(--color-gray-400) 30%, transparent);
    --pf-border-focus: var(--color-gray-400);
    --pf-skeleton: var(--color-gray-200);
    --pf-skeleton-shine: var(--color-gray-200);
    --pf-hover: var(--color-gray-200);
    --pf-mark: var(--color-gray-950);
    --pf-scroll-shadow: var(--color-gray-800);
    --pf-outline-focus: var(--color-indigo-400);

    --pf-input-height: 40px;
    --pf-font: var(--font-sans);

    --pf-icon-search: url('data: image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0LjA3NzIgMTQuMUwxNi42NDM4IDE2LjY2NjdNMTUuODMzIDkuNTgzMzRDMTUuODMzIDExLjI0MDkgMTUuMTc0NSAxMi44MzA3IDE0LjAwMjQgMTQuMDAyOEMxMi44MzAzIDE1LjE3NDkgMTEuMjQwNiAxNS44MzMzIDkuNTgzMDEgMTUuODMzM0M3LjkyNTQgMTUuODMzMyA2LjMzNTY5IDE1LjE3NDkgNS4xNjM1OSAxNC4wMDI4QzMuOTkxNDkgMTIuODMwNyAzLjMzMzAxIDExLjI0MDkgMy4zMzMwMSA5LjU4MzM0QzMuMzMzMDEgNy45MjU3NCAzLjk5MTQ5IDYuMzM2MDMgNS4xNjM1OSA1LjE2MzkzQzYuMzM1NjkgMy45OTE4MiA3LjkyNTQgMy4zMzMzNCA5LjU4MzAxIDMuMzMzMzRDMTEuMjQwNiAzLjMzMzM0IDEyLjgzMDMgMy45OTE4MiAxNC4wMDI0IDUuMTYzOTNDMTUuMTc0NSA2LjMzNjAzIDE1LjgzMyA3LjkyNTc0IDE1LjgzMyA5LjU4MzM0WiIgc3Ryb2tlPSIjNzI3MjhDIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');
}

[data-pf-theme='dark'] {
  --pf-text: var(--color-woodsmoke-50);
  --pf-text-secondary: var(--color-woodsmoke-400);
  --pf-text-muted: var(--color-woodsmoke-300);
  --pf-background: var(--color-woodsmoke-950);
  --pf-border: color-mix(in srgb, var(--color-woodsmoke-800) 60%, transparent);
  --pf-border-focus: var(--color-woodsmoke-800);
  --pf-skeleton: var(--color-woodsmoke-800);
  --pf-skeleton-shine: var(--color-woodsmoke-900);
  --pf-hover: var(--color-woodsmoke-800);
  --pf-mark: var(--color-woodsmoke-50);
  --pf-scroll-shadow: var(--color-woodsmoke-800);
  --pf-outline-focus: var(--color-indigo-400);

  --pf-input-height: 40px;
  --pf-font: var(--font-sans);

  --pf-icon-search: url('data: image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE0LjA3NzIgMTQuMUwxNi42NDM4IDE2LjY2NjdNMTUuODMzIDkuNTgzMzRDMTUuODMzIDExLjI0MDkgMTUuMTc0NSAxMi44MzA3IDE0LjAwMjQgMTQuMDAyOEMxMi44MzAzIDE1LjE3NDkgMTEuMjQwNiAxNS44MzMzIDkuNTgzMDEgMTUuODMzM0M3LjkyNTQgMTUuODMzMyA2LjMzNTY5IDE1LjE3NDkgNS4xNjM1OSAxNC4wMDI4QzMuOTkxNDkgMTIuODMwNyAzLjMzMzAxIDExLjI0MDkgMy4zMzMwMSA5LjU4MzM0QzMuMzMzMDEgNy45MjU3NCAzLjk5MTQ5IDYuMzM2MDMgNS4xNjM1OSA1LjE2MzkzQzYuMzM1NjkgMy45OTE4MiA3LjkyNTQgMy4zMzMzNCA5LjU4MzAxIDMuMzMzMzRDMTEuMjQwNiAzLjMzMzM0IDEyLjgzMDMgMy45OTE4MiAxNC4wMDI0IDUuMTYzOTNDMTUuMTc0NSA2LjMzNjAzIDE1LjgzMyA3LjkyNTc0IDE1LjgzMyA5LjU4MzM0WiIgc3Ryb2tlPSIjNzI3MjhDIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=');
}

.page-search pagefind-modal-trigger {
  display: block;
}

.page-search :is(*, #\#):is(*, #\#):is(*, #\#) .pf-trigger-btn {
  display: flex;
  width: 100%;
  font-family: var(--pf-font);
}

.page-search :is(*, #\#):is(*, #\#):is(*, #\#) .pf-trigger-shortcut {
  flex: 1;
  justify-content: flex-end;
}

.page-search :is(*, #\#):is(*, #\#):is(*, #\#) dialog.pf-modal {
  border: solid 1px var(--pf-border);
}

.page-search :is(*, #\#):is(*, #\#):is(*, #\#) .pf-modal-body {
  flex-basis: auto;
}

.page-search :is(*, #\#):is(*, #\#):is(*, #\#) .pf-trigger-icon {
  width: 18px;
  height: 18px;
}

.page-search :is(*, #\#):is(*, #\#):is(*, #\#) .pf-input-wrapper::before,
.page-search :is(*, #\#):is(*, #\#):is(*, #\#) .pf-searchbox-input-wrapper::before {
  width: 18px;
  height: 18px;
}

@media (width <= 40rem) {
  .header-search :is(*, #\#):is(*, #\#):is(*, #\#) .pf-trigger-text {
    display: none;
  }

  .header-search :is(*, #\#):is(*, #\#):is(*, #\#) .pf-trigger-shortcut {
    display: none;
  }

  .header-search :is(*, #\#):is(*, #\#):is(*, #\#) .pf-trigger-btn {
    background: transparent;
    border: none;
  }
}
