@let(nav = [{
    title: 'Hypermedia',
    url: '',
}, {
    title: 'React',
    url: '',
}, {
    title: 'Vue',
    url: '',
}])

<div class="flex gap-3 mb-6 md:mb-8">
    @each(item in nav)
        <a href="{{ item.url }}"
            class="text-12 px-3.5 py-1.5 border rounded-full {{ active ? 'text-green-200! border-green-800/30 bg-green-900/30' : 'text-woodsmoke-300! border-woodsmoke-800/70 bg-woodsmoke-900/40 ' }}">{{ item.title }}</a>
    @endeach
</div>