<aside class="relative hidden xl:block" up-section-toc>
  <div class="absolute inset-0 pl-3">
    <div
      class="sticky top-22 max-h-[calc(100dvh-(var(--spacing)*16))] overflow-y-auto pt-12 pb-6 doc-right-nav"
      x-data="trackScroll"
    >
      <label
        class="block font-medium text-white text-xs uppercase tracking-tight pt-2.5 mb-4 font-mono"
      >
        On this page
      </label>
      {{{ markdownDocument.toc }}}
    </div>
  </div>
</aside>
